body {
  overflow-x: hidden;
}
.oet_start_now1 {
  background: transparent;
  border: 1px solid black;
  color: black;
}
.oet_start_now1:hover {
  color: #fff;
  background: #377dff;
  transition: background 1s smooth;
}
/* Change image from black and white to original colour on hover */
.color_img {
  cursor: pointer;
  filter: grayscale(100%);
  margin: 0.5rem 0rem;
}

.color_img:hover {
  filter: grayscale(0%);
  transition: 0.5s ease;
  margin-top: 0rem;
}
/* Smaller Btn */
.signup_btn {
  padding: 0.5rem 1rem;
  border: 2px solid #000;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #000;
}

.signup_btn:hover {
  background-color: #377dff;
  transition: 0.5s ease;
  border-radius: 1rem;
  border: none;
  color: #fff;
}
