body {
  overflow-x: hidden;
}
.oet_start_now1 {
  background: transparent;
  border: 1px solid black;
  color: black;
}
.oet_start_now1:hover {
  color: #fff;
  background: #377dff;
  transition: background 1s smooth;
}
